.small {
  text-align: center;
}
.container {
  background: linear-gradient(#e1f2fb, #f1f9f9);
  border: #e1f2fb solid 1px;
  width: 50% !important;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

.city {
  font-size: 30px;
  text-align: left;
}
.day-time {
  text-align: right;
  font-size: 18px;
}
.weather-condition {
  text-align: left;
}
.temperature {
  font-size: 40px;
  margin-bottom: 40px;
}
img {
  height: 64px;
  width: 64px;
}
@media (max-width: 632px) {
  .container {
    width: 100% !important;
  }
}
